{% assign contact = site.data.data.contact %}
{% if contact %}
<section class="contact">
    <div class="title">Contact</div>

    {% if contact.address %}
    <div class="contact-item">
        <i data-feather="map-pin"></i>
        <a href="{{ contact.address.url }}" target="_blank">
            {{contact.address.name}}
        </a>
    </div>
    {% endif %}

    {% if contact.web %}
    <div class="contact-item">
        <i data-feather="globe"></i>
        <a href="https://{{contact.web}}" target="_blank">
            {{contact.web}}
        </a>
    </div>
    {% endif %}

    {% if contact.email %}
    <div class="contact-item">
        <i data-feather="mail"></i>
        <a href="mailto:{{contact.email}}" target="_blank">
            {{contact.email}}
        </a>
    </div>
    {% endif %}

    {% if contact.phone %}
    <div class="contact-item">
        <i data-feather="phone"></i>
        <a href="tel:{{contact.phone}}" target="_blank">
            {{contact.phone}}
        </a>
    </div>
    {% endif %}

    {% if contact.github %}
    <div class="contact-item">
        <i data-feather="github"></i>
        <a href="https://github.com/{{contact.github}}" target="_blank">
            {{contact.github}}
        </a>
    </div>
    {% endif %}

    {% if contact.linkedin %}
    <div class="contact-item">
        <i data-feather="linkedin"></i>
        <a href="https://linkedin.com/in/{{contact.linkedin}}" target="_blank">
            {{contact.linkedin}}
        </a>
    </div>
    {% endif %}

    {% if contact.twitter %}
    <div class="contact-item">
        <i data-feather="twitter"></i>
        <a href="https://twitter.com/{{contact.twitter}}" target="_blank">
            {{contact.twitter}}
        </a>
    </div>
    {% endif %}

    {% if contact.gitlab %}
    <div class="contact-item">
        <i data-feather="gitlab"></i>
        <a href="https://gitlab.com/{{contact.gitlab}}" target="_blank">
            {{contact.gitlab}}
        </a>
    </div>
    {% endif %}
</section>
{% endif %}
