<head>
    <!-- Styles -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {% seo %}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "Person",
          "name": "Shubham More",
          "url": "https://www.shubham-more.com/",
          "image": "https://more-shubham.github.io/Shubham-more.png",
          "sameAs": [
            "https://github.com/more-shubham",
            "https://www.shubham-more.com/",
            "https://more-shubham.github.io/",
            "https://www.linkedin.com/in/dev-shubham-more"
          ],
          "jobTitle": "Full-Stack Developer",
          "worksFor": {
            "@type": "Organization",
            "name": "Irys India Pte Ltd"
          }  
        }
    </script>
</head>
