body {
    .container {
        .sidebar {
            .header {
                display: none;
            }
        }
        .avatar {
            display: block;
        }
    }
    .header {
        .title, .work {
            text-align: left;
        }
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-color: var(--bg-color-cv);
    }
    .container {
        // padding:0;
        // margin:0;
        box-shadow: none;
        .container-block {
            .sidebar {
                div {
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        .container-block {
            display: block;
        }
        .sidebar {
            .header {
                display: block !important;
                padding: 20px 0 15px 0;
            }
        }
        .main {
            .header {
                display: none;
            }
        }
        .avatar {
            display: flex !important;
            justify-content: center;
            align-items: center;
        }
    }
    .header {
        display: block;
        .title, .work {
            text-align: center !important;
        }
        .title {
            margin:0 auto;
        }
        input {
            display: none;
        }
        label {
            position: absolute;
            top: 25px;
            right: 15px;
        }
    }
}
