* {
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: justify;
  line-height: 1.5;
}

body {
  background-color: var(--bg-color);
}

.container {
  max-width: 900px;
  min-height: 900px;
  margin: 0 auto;
  background-color: var(--bg-color-cv);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container .container-block {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 5fr;
}
.container .container-block .sidebar {
  margin-top: 20px;
}

@media print {
  @page {
    size: A4;
  }
  .container {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: #ffffff;
    width: 1000px;
  }
  .container .container-block {
    padding: 0;
  }
  .container .header input, .container .header label {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  body {
    background-color: var(--bg-color-cv);
  }
  .container {
    box-shadow: none;
  }
  .container .container-block .sidebar div {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .container .container-block {
    display: block;
  }
  .header {
    display: block;
  }
  .header .title {
    margin: 0 auto;
  }
  .header input, .header label {
    display: none;
  }
}
:root {
  --bg-color: #f1f1f1;
  --bg-color-cv: #ffffff;
  --fg-color: #00629b;
  --fg-color-dark: #023b5b;
  --fg-color-body: #5e6369;
  --fg-color-title-sm: #688293;
}

[data-theme=dark] {
  --bg-color: #28343b;
  --bg-color-cv: #1b262c;
  --fg-color: #3282b8;
  --fg-color-dark: #3282b8;
  --fg-color-body: rgba(187,225,250,0.75);
  --fg-color-title-sm: #688293;
}

.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .title {
  color: var(--fg-color-dark);
  font-weight: bolder;
  text-transform: uppercase;
}
.header input[type=checkbox] {
  width: 0;
  height: 0;
  display: none;
}
.header label {
  cursor: pointer;
  color: var(--fg-color-dark);
}

.career-profile .title {
  color: var(--fg-color);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.career-profile .title:before, .career-profile .title:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.career-profile .title:before {
  margin-right: 10px;
}
.career-profile .title:after {
  margin-left: 10px;
}
.career-profile .details {
  color: var(--fg-color-body);
  font-size: 14px;
}

.contact {
  margin-bottom: 20px;
}
.contact .title {
  font-size: 16px;
  font-weight: 700;
  color: var(--fg-color);
}
.contact .contact-item {
  display: flex;
  align-items: center;
}
.contact .contact-item svg {
  width: 18px;
  display: inline-block;
  color: var(--fg-color);
}
.contact .contact-item a {
  text-decoration: none;
  padding-top: 4px;
  padding-left: 4px;
  color: var(--fg-color-body);
  font-size: 14px;
}
.contact .contact-item a:hover {
  text-decoration: underline;
}

.languages {
  margin-bottom: 20px;
}
.languages .title {
  font-size: 16px;
  font-weight: 700;
  color: var(--fg-color);
}
.languages .idiom {
  color: var(--fg-color-body);
  font-size: 14px;
}

.education {
  margin-bottom: 20px;
}
.education .title {
  font-size: 16px;
  font-weight: 700;
  color: var(--fg-color);
}
.education .education-item {
  margin-bottom: 20px;
}
.education .education-item .degree {
  color: var(--fg-color-body);
  font-size: 14px;
  font-weight: bold;
}
.education .education-item .university {
  color: var(--fg-color-body);
  font-size: 14px;
}
.education .education-item .time {
  color: var(--fg-color-body);
  font-size: 14px;
}

.skills {
  margin-bottom: 20px;
}
.skills .title {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: var(--fg-color);
}
.skills .skill {
  color: var(--fg-color-body);
  font-size: 14px;
}

.experiance .title {
  color: var(--fg-color);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.experiance .title:before, .experiance .title:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.experiance .title:before {
  margin-right: 10px;
}
.experiance .title:after {
  margin-left: 10px;
}
.experiance .experience-item .role {
  font-size: 16px;
  font-weight: 700;
  color: var(--fg-color);
}
.experiance .experience-item .company {
  color: var(--fg-color-body);
  font-size: 14px;
  font-weight: bold;
}
.experiance .experience-item .company .time {
  float: right;
  color: var(--fg-color-title-sm);
  font-weight: 100;
}
.experiance .experience-item .details {
  color: var(--fg-color-body);
  font-size: 14px;
}
.experiance .experience-item .technologies {
  color: var(--fg-color-body);
  font-size: 14px;
}

.publications .title {
  color: var(--fg-color);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.publications .title:before, .publications .title:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.publications .title:before {
  margin-right: 10px;
}
.publications .title:after {
  margin-left: 10px;
}
.publications .publication-items .publication-item {
  margin-bottom: 20px;
}
.publications .publication-items .publication-item .publication-title a {
  text-decoration: none;
  font-weight: bold;
  color: var(--fg-color-body);
  font-size: 14px;
}
.publications .publication-items .publication-item .authors {
  color: var(--fg-color-body);
  font-size: 14px;
}
.publications .publication-items .publication-item .conference {
  color: var(--fg-color-body);
  font-size: 14px;
  color: var(--fg-color-title-sm);
  font-weight: 100;
}

.projects .title {
  color: var(--fg-color);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.projects .title:before, .projects .title:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.projects .title:before {
  margin-right: 10px;
}
.projects .title:after {
  margin-left: 10px;
}
.projects .project {
  margin-bottom: 20px;
}
.projects .project .project-link {
  color: var(--fg-color-body);
  font-size: 14px;
}
.projects .project .details {
  color: var(--fg-color-body);
  font-size: 14px;
}

.volunteering .title {
  color: var(--fg-color);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.volunteering .title:before, .volunteering .title:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.volunteering .title:before {
  margin-right: 10px;
}
.volunteering .title:after {
  margin-left: 10px;
}
.volunteering .volunteering-item {
  margin-bottom: 20px;
}
.volunteering .volunteering-item .role {
  font-size: 16px;
  font-weight: 700;
  color: var(--fg-color);
}
.volunteering .volunteering-item .organization {
  color: var(--fg-color-body);
  font-size: 14px;
  font-weight: bold;
}
.volunteering .volunteering-item .organization .time {
  float: right;
  color: var(--fg-color-title-sm);
  font-weight: 100;
}
.volunteering .volunteering-item .details {
  color: var(--fg-color-body);
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */