.experiance {
    .title {
        @include header;
    }
    .experience-item {
        .role {
            @include sub-header;
        }
        .company {
            @include body-text;
            font-weight: bold;
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
        .details {
            @include body-text;
            list-style-type: square;
            margin: 0px;
            padding: 0px 0px 0px 18px;

            li {
                line-height: 1.5
            }

        }
        .technologies {
            @include body-text;
            span {
                font-weight: 600;
            }
        }
    }
}
