.projects {
    .title {
        @include header;
    }
    .project {
        margin-bottom: 20px;
        .project-link {
            @include body-text;
        }
        .details {
            @include body-text;
            list-style-type: square;
            margin: 0px;
            padding: 0px 0px 0px 18px;

            li {
                line-height: 1.5
            }
        }
    }
}
