.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        color: var(--fg-color-dark);
        font-weight: bolder;
        text-transform: uppercase;
        line-height: 0.2;
    }
    .work {
        color: var(--fg-color-title-sm);
        font-weight: bolder;
        text-transform: uppercase;
        line-height: 0;
        font-size: 16px;
        font-weight: bolder;
    }
    input[type="checkbox"] {
        width: 0;
        height:0;
        display: none;
    }
    label {
        cursor: pointer;
        color: var(--fg-color-dark);

    }
}
